<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %}Boilerplate</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" value="en-US"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:site_name" content="Boilerplate"/>
  <meta property="og:title" content="Boilerplate"/>
  <meta property="og:url" content="https://andrew.graham-yooll.com/"/>

  {% block head_css %}
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
  {% endblock head_css %}

</head>
<body>
<header>
  <div class="container">
    <h1>{% translate "The Everyday Django Starter Pack" %}</h1>
    <br>
    <p>
      <a href="https://gitlab.com/andrewgy8/django-starter-pack">
        <img alt="Boilerplate" title="Boilerplate" src="https://www.svgrepo.com/show/13920/boiler.svg" width="200">
      </a>
    </p>

    <p>
      {% translate "A quick and easy to use Django Starter Pack ready for production in 10 min. No bloat guaranteed." %}
    </p>

    <div>
      <a href="https://gitlab.com/andrewgy8/django-starter-pack/-/tree/main#the-everyday-django-starter-pack">
        {% translate "README" %}
      </a>
    </div>
    <div>
      <a href={% url "redoc" %}>{% translate "API Docs" %}</a>
    </div>
    <div>
      <a href={% url "admin:index" %}>Admin</a>
    </div>
    <div>
      <a href='https://andrew.grahamyooll.com'>{% translate "Contact Andrew" %}</a>
    </div>
  </div>
</header>
</body>

</html>
